{% extends 'base.html' %} 
{% block content %}
<div class="home__favorites">
    {% for favorite in favorites %}

        <div class="favorite mb-5">
            <h3 class="title is-3 has-text-success">{{favorite.title}}</h3>
            <hr />

            {% for flavor in favorite.flavors.all %}

                <div class="flavor">
                    <span>{{forloop.counter}}</span>
                    <span><b>{{flavor.title}}</b></span>
                    <span>{{flavor.get_rating}}</span>
                    <span>
                        <!--   Here we are creating an anchor tag that when clicked will hit our new route and send a query to remove the song     -->
                        <a href="{% url 'favorite_flavor_assoc' favorite.pk flavor.pk %}?assoc=remove"
                           class="button is-danger is-outlined">
                            <span class="icon is-small">
                                <i class="fas fa-times"></i>
                            </span>
                        </a>
                    </span>
                </div>

            {% endfor %}
        </div>
    {% empty %} 
        <div class="favorite mb-5">"There are no flavors favorited"</div>
    {% endfor %}
</div>
{% endblock %}